<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AdminLoginFilter</filter-name>
  	<display-name>AdminLoginFilter</display-name>
  	<description></description>
  	<filter-class>com.atm.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>UserLoginFilter</filter-name>
  	<display-name>UserLoginFilter</display-name>
  	<description></description>
  	<filter-class>com.atm.filter.UserLoginFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>ActiveFilter</filter-name>
  	<display-name>ActiveFilter</display-name>
  	<description></description>
  	<filter-class>com.atm.filter.ActiveFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AdminLoginFilter</filter-name>
  	<url-pattern>/account-report.do</url-pattern>
  	<url-pattern>/trans-report.do</url-pattern>
  	<url-pattern>/get-random-id.do</url-pattern>
  	<url-pattern>/admin-change-password.do</url-pattern>
  	<url-pattern>/admin-transfer.do</url-pattern>
  	<url-pattern>/admin-withdraw.do</url-pattern>
  	<url-pattern>/admin-deposit.do</url-pattern>
  	<url-pattern>/admin-balance-enquiry.do</url-pattern>
  	<url-pattern>/admin-balance-enquiry-filter.do</url-pattern>
  	<url-pattern>/admin-export-excel.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>UserLoginFilter</filter-name>
  	<url-pattern>/user-balance-enquiry.do</url-pattern>
  	<url-pattern>/user-deposit.do</url-pattern>
  	<url-pattern>/user-withdraw.do</url-pattern>
  	<url-pattern>/user-transfer.do</url-pattern>
  	<url-pattern>/user-change-password.do</url-pattern>
  	<url-pattern>/user-balance-enquiry-filter.do</url-pattern>
  	<url-pattern>/user-export-excel.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>ActiveFilter</filter-name>
  	<url-pattern>/user-balance-enquiry.do</url-pattern>
  	<url-pattern>/user-deposit.do</url-pattern>
  	<url-pattern>/user-withdraw.do</url-pattern>
  	<url-pattern>/user-transfer.do</url-pattern>
  	<url-pattern>/user-change-password.do</url-pattern>
  	<url-pattern>/user-balance-enquiry-filter.do</url-pattern>
  	<url-pattern>/user-export-excel.do</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>action</servlet-name>
  	<servlet-class>
  		org.apache.struts.action.ActionServlet
  	</servlet-class>
  	
  	<init-param>
  		<param-name>config</param-name>
  		<param-value>
  			/WEB-INF/struts-config.xml
  		</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>action</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>  
  	<welcome-file>view/user/mainpanel.jsp</welcome-file>  
  </welcome-file-list>  
</web-app>